<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/head.ejs') %>
</head>

<body>
    <%- include('../partials/nav.ejs') %>

    <section class="section">
        <div class="container">
            <h3 class="title">
                Nuevo Blog
            </h3>

            <form action="/blogs" method="POST">
                <div class="field">
                    <label class="label">
                        Título
                    </label>

                    <div class="control">
                      <input class="input" type="text" name="title" required>
                    </div>
                </div>

                <div class="field">
                    <label class="label">
                        Snippet
                    </label>

                    <div class="control">
                      <input class="input" type="text" name="snippet" required>
                    </div>
                </div>

                <div class="field">
                    <label class="label">
                        Cuerpo
                    </label>

                    <div class="control">
                        <textarea class="textarea" name="body" required></textarea>
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <button type="submit" class="button is-link">
                            Guardar
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </section>

    <%- include('../partials/footer.ejs') %>
</body>

</html>