<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('./partials/head.ejs') %>
</head>

<body>
    <%- include('./partials/nav.ejs') %>

    <section class="section">
        <div class="container">
            <h3 class="title">
                Nuevo Blog
            </h3>

            <form>
                <div class="field">
                    <label class="label">
                        Título
                    </label>

                    <div class="control">
                      <input class="input" type="text">
                    </div>
                </div>

                <div class="field">
                    <label class="label">
                        Descripción
                    </label>

                    <div class="control">
                        <textarea class="textarea"></textarea>
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <button type="submit" class="button is-link">
                            Guardar
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </section>

    <%- include('./partials/footer.ejs') %>
</body>

</html>